body,
html {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 5%;
  background-color:#171717;
  color: white;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: inherit;
  font-family: inherit;
}

.dateandtime {
  margin-bottom: 3rem;
  color: #ca9243;
}
li {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  line-height: 1.6;

}

img {
  border-radius: 3%;
 width: 100%;
}

.bullet-points {
  line-height: 1.8rem;
}